<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Insiders Trending</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="minireset.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stream.css">

</head>

<body>
  <nav class="nav has-shadow " id="top">
      <div class="container" id="top2">
          <div class="nav">
              <a class="nav-item" href="/">
                  <img id="logo" src="images/logo.png" alt="Description">
              </a>
          </div>
          <div class="nav" id="formNav">
              <div class="nav-item field" id="formNav1">
                  <form method="post" class="control has-icons-right" id="formNav2">
                      <input class="input is-hovered" type="text" placeholder="Stock or Username">
                      <span id="loupe" class="icon is-small is-right">
                  <i type="submit"  class="fa fa-search" ></i>
                </span>
                  </form>
              </div>
          </div>

          <span class="nav-toggle">
                  <span></span>
          <span></span>
          <span></span>
          </span>
          <div class="nav-right nav-menu">
              <div id="menu">
                  <a href="/stream" class="nav-item is-tab ">
      Stream
      </a>
                  <a href="/trending" class="nav-item is-tab is-active">
      Trending
      </a>
                  <a href="/leaderboard"class="nav-item is-tab">
      Leaderboard
      </a>
              </div>
              <span class="nav-item">
                      <% if(!user) { %>
                      <a href="/login" class="button">
                        Log in
                      </a>
                      <a href="/signup" class="button">
                        Sign up
                      </a>
                    </span>
              <%} else { %>
                  <div class="nav-profile">
                      <a id="profile-pic" href="/profile">
                          <div class="nav-photo-profil">
                              <img src="<%= user.picProfile%>" alt="">
                          </div>
                      </a>
                      <div class="nav-user-profile">
                          <div id="nav-username" class="nav-user-name">@
                              <%= user.local.username%>
                          </div>
                          <div class="nav-status">
                              <div class="nav-status-light"></div>
                              <a href="/logout">Logout</a>
                          </div>
                      </div>

                      <%  } %>
                  </div>
          </div>
  </nav>
    <section class="section main">
        <div class="container">

      <iframe src="https://investingwidgets.com/crypto-currency-rates?theme=darkTheme" width="100%" height="100%" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe><div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;">Powered by <a href="https://www.investing.com?utm_source=WMT&amp;utm_medium=referral&amp;utm_campaign=CRYPTO_CURRENCY_RATES&amp;utm_content=Footer%20Link" target="_blank" rel="nofollow">Investing.com</a></div>
        </div>
    </section>
</body>
